body{
    padding: 0;
    margin: 0;
    background-color: aliceblue;
    font-family: Helvetica, sans-serif;
}

#main-container{
    background-color: #292929;
    margin: 2.5% 5%;
    color: aliceblue;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 3%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 2.5em;
}

.drum-header{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 1px 1px #888888;
}

.btn{
    width: 50%;
    background-color: #d3cb58;
    color: #101010;
    border: 0;
    transition:background-color .2s ease-in;
}

.btn:hover{
    background-color: #ffe600;
}

/*MUST SIMPLIFY*/

.rhythm-button{
    border: 0;
    height: 90%;
    width: 50%; 
}

.rhythm-button:hover{
    height: 99%;
    width: 55%;
    transition: height,width 0.2s;
}

.rhythm-button-orangered{
    background-color: orangered;
}

.rhythm-button-orange{
    background-color: orange;
}

.rhythm-button-yellow{
    background-color: yellow;
}

.rhythm-button-white{
    background-color: #ffffff;
}
/*END OF SPAGHETTI */

.gray{
    background-color: #888888;
}

.yellow{
    background-color: #c3c322;
}

input[type=range][orient=vertical]{
    -webkit-appearance: slider-vertical;
    height: 4rem;
}

/* The slider itself */
input[type=range] {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    height: 15px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}
  
/* Mouse-over effects */
input[type=range]:hover {
    opacity: 1; /* Fully shown on mouse-over */
}
  
/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 15px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    background: rgba(223, 61, 33, 0.925);
    cursor: pointer; /* Cursor on hover */
}
  
input[type=range]::-moz-range-thumb {
    width: 15px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    background: rgba(223, 61, 33, 0.925);
    cursor: pointer; /* Cursor on hover */
}