body{
    padding: 0;
    margin: 0;
    background-color: aliceblue;
    font-family: Helvetica, sans-serif;
}

#main-container{
    background-color: #101010;
    margin: 2.5% 5%;
    color: aliceblue;
    text-align: center;
}

.drum-header{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 1px 1px #888888;
}

.btn{
    width: 50%;
    background-color: #a1a100;
    color: #101010;
    border: 0;
}

.btn:hover{
    background-color: #c3c322;
}

/*MUST SIMPLIFY*/

.rhythm-button{
    border: 0;
    height: 100%;
    width: 50%; 
}

.rhythm-button-orangered{
    background-color: orangered;
}

.rhythm-button-orange{
    background-color: orange;
}

.rhythm-button-yellow{
    background-color: yellow;
}

.rhythm-button-white{
    background-color: #ffffff;
}
/*END OF SPAGHETTI */

.gray{
    background-color: #888888;
}

.yellow{
    background-color: #c3c322;
}

input[type=range][orient=vertical]{
    -webkit-appearance: slider-vertical;
    height: 4rem;
}